<% include ../../partials/boilerplate %>

<div class="profile">
    <h1><%=driver.name%></h1>
    <img src="<%=driver.img_url%>" width="350" alt="<%=driver.name%>" />
    <h3>Country: <%=driver.nationality%></h3>
    <p><%=driver.carnum%></p>
</div>
<% include ../../partials/end %>
