<% include ../../partials/boilerplate %>

<form class="" action="/driver/<%= driver.driver_id %>?_method=PUT" method="post">
Driver Profile id: <%= driver.driver_id %>
<label for="name">Name: </label>
<input value="<%= driver.name %>" type="text" id="name" name="name" placeholder="Enter your full name"/>

<label for="carnum">Car Number: </label>
<input value="<%= driver.carnum %>" type="text" id="carnum" name="carnum" placeholder="Enter your car number"/>

<label for="nationality">Nationality:</label>
<input value="<%= driver.nationality %>" type="text" id="nationality" name="nationality" placeholder="What is nationality"/>

<input type="submit" value="Add Driver" />
  <button type="submit">Update</button>
</form>
<form action="/driver/<%= driver.driver_id %>?_method=DELETE" method="POST">
  <button type="submit" name="button">Delete Quote</button>
</form>

<% include ../../partials/end %>
